@model MIS4800_940.Models.Patient

@{
    ViewBag.Title = "Details of Patient Record";
}
<div class=“well”>
    <h2>Details of Patient Record</h2>
</div>
    <div>

        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.firstName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.firstName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.lastName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.lastName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.phone)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.phone)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.email)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.email)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.city)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.city)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.zip)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.zip)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.patientID }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
