@model IEnumerable<MIS4800_940.Models.Patient>

@{
    ViewBag.Title = "Patient Record";
}

<div class=“well”>
    <h2>Patient Record</h2>
</div>
<p>
    @Html.ActionLink("Create New Patient Record", "Create")
</p>
<table class="table table-striped table-bordered table-condensed">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.fullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.city)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.zip)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <span class="label label-primary">@Html.DisplayFor(modelItem => item.fullName)</span>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.city)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.zip)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.patientID }) |
                @Html.ActionLink("Details", "Details", new { id = item.patientID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.patientID })
            </td>
        </tr>
    }

</table>
