@model IEnumerable<MIS4800_940.Models.Bill>

@{
    ViewBag.Title = "Patient Bill";
}

<h2>Patient Bill</h2>

<p>
    @Html.ActionLink("Create New Patient Bill", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Patient.firstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Patient.lastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.status)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Patient.firstName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Patient.lastName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.amount)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.status)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.billID }) |
        @Html.ActionLink("Details", "Details", new { id = item.billID }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.billID })
    </td>
</tr>
}

</table>
