@{
    ViewBag.Title = "Temiloluwa's Home Page";
}

<div class="jumbotron">
    <h2>Temiloluwa Omorinsola Olubakinde</h2>
    <p class="lead">This is my first MVC app created for my MIS 4200 class. Hope you enjoy the app features!</p>
    <p><a href="http://cob.ohio.edu" class="btn btn-primary btn-lg">COB &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting to know Temi</h2>
        <p>
            Temiloluwa Omorinsola Olubakinde is a senior at Ohio University studying Accounting and Management Information Systems.
            She is from the Yoruba culture in the country, Nigeria. In her free time, she watches tons of movies and as of late, she has been
            trying to get enough sleep. That's all about her! :)
        </p>
        <p><a class="btn btn-default" href="https://linkedin.com/in/temiolubakinde">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>My Links</h2>
        <ul>
            <li>@Html.ActionLink("Employees", "Index", "Employees")</li>
            <li>@Html.ActionLink("Patients", "Index", "Patients")</li>
            <li>@Html.ActionLink("Appointments", "Index", "Appointments")</li>
            <li>@Html.ActionLink("Bills", "Index", "Bills")</li>
            <li>@Html.ActionLink("Payments", "Index", "Payments")</li>
        </ul>
     </div>
    <div class="col-md-4">
        <h2>Hobbies</h2>
        <ul>
            <li>Listening to music from different countries such as South Korea, Nigeria, and India.</li>
            <li>My favorite Korean songs are <a href="https://www.youtube.com/watch?v=abH4qUIIC4g">For You by Im Jae Bum</a> and <a href="https://www.youtube.com/watch?v=sJefHsO2f2w">Girl by Lee Moon Sae</a></li>
            <li>Also, I am interested in interior design which is my new exploration.</li>
        </ul>
    </div>
</div>