@model MIS4800_940.Models.Appointment

@{
    ViewBag.Title = "Details of Appointment";
}
<div class=“well”>
    <h2>Details of Patient Appointment</h2>
</div>
    <div>

        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Employees)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Employees.fullName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Patient)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Patient.fullName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.dateOfAppointment)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.dateOfAppointment)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.appointmentTime)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.appointmentTime)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.apptReason)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.apptReason)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.appointmentID }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
