@model IEnumerable<MIS4800_940.Models.Appointment>

@{
    ViewBag.Title = "Patient Appointments";
}

<h2>Patient Appointments</h2>

<p>
    @Html.ActionLink("Create New Appointment", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Employees)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Patient)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.appointmentTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.apptReason)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Employees.fullName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Patient.fullName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.appointmentTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.apptReason)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.appointmentID }) |
            @Html.ActionLink("Details", "Details", new { id=item.appointmentID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.appointmentID })
        </td>
    </tr>
}

</table>
